.search-input {
  padding: 24px 16px;
  text-align: center;
  position: fixed;
  top: 66px;
  width: 100%;
  z-index: 3;
  background: #fff;
}

.search-input input {
  width: 100%;
  border: 1px solid;
  height: 36px;
  max-width: 720px;
  padding-left: 10px;
  font-size: 14px;
}

.scroll-top{
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #ddd;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #fff;
  z-index: 10;
}

.scroll-top:hover{
  box-shadow: 0 0 7px #aaa;
  cursor: pointer;
  background: #fff;
}

.search-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  top: 206px;
}

.search-list-item {
  width: 275px;
  margin: 20px 10px
}

.search-list-item img {
  height: 280px;
  width: 275px;
}

.search-list-item:hover{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 50px;
  z-index: 1;
}

.filter {
  display: flex;
  padding: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.filter > div:first-of-type {
  color: #999;
  font-weight: 600;
  font-size: 14px;
}

.filter select {
  height: 32px;
  max-width: 300px;
  width: 100%;
  background: #fff;
  border: 1px solid;
  font-size: 14px;
  margin-left: 8px;
}